html {
  max-width: 720px;
}

body {
  margin: 32px;
  background: #fff;
}

main,
header,
footer,
nav {
  margin: 32px;
}

section {
  padding: 16px;
}

h1 {
  color: darkblue;
}

h2 {
  color: rgb(73, 72, 72);
}

nav * {
  text-decoration: none;
  margin: 5px;
  color: rgb(151, 10, 151);
}

li {
  padding: 5px;
}
