{{#with footer}}
    <footer>
      <hr />
      <br />
      <div>
        {{#with social}}
          {{> link text=email.text href=email.href blank=true }}
          {{> link text=phone.text href=phone.href blank=true }}
          {{> link text=linkedIn.text href=linkedIn.href blank=true noLine=true}}
        {{/with}}
      </div>
      <br/>
      <div>
        <span>&copy; Copyright <em>{{../header.name.firstName}} {{../header.name.lastName}}</em></span>
        <br />
         <br />
      <div><em>{{address}}</em></div>
      <br />
      </div>
  </footer>
  {{/with}}