<p>
     ID:
    {{id}}
   <br />
     Name:
    {{name}}
    <br />
     Description:
    {{description}}
    <br />
    <br />
    <strong>Members:</strong>
    {{#each members}}
    {{> friends}}
    {{/each}}
            
</p>