<header class='m-4'>
  <div class='col-12'>
    <div class='card shadow'>
      <div class='row'>
        <div class='col-8'>
          <div
            class='display-5 m-3 ps-4 text-primary font-monospace'
          >
            Viktoriia Krasko
          </div>
        </div>
        <div class='col-4'>
          <div
            class='display-5 m-3 pe-4 text-warning font-monospace text-end'
          >
            Resume project
          </div>
        </div>
      </div>
    </div>
  </div>
</header>