<nav>
      {{> link text="Summary" href="/summary" asterisk=true}}
      {{> link text="Skills" href="/skills" asterisk=true}}
      {{> link text="Education" href="/education" asterisk=true}}
      {{> link text="Work" href="/work" noLine=true}}
</nav>